// Common color
$black: #000000;
$black-2: #161616;
$white: #ffffff;

// Colors 
// $primary: #70FF00;
// $primary: #007acc;
$primary: #f0db4f;

$Gray-2: #4F4F4F;
$Gray-3: #828282;
$Gray-6: #F2F2F2;

